{% set welcome = '<span class="njk">Nunjucks</span> is available!' | safe %}


{% set navbar = [
    {
        "title": "Главная",
        "url": "/",
        "page_type": "home"
    },
    {
        "title": "Обо мне",
        "url": "/about.html",
        "page_type": "about"
    },
    {
        "title": "Портфолио",
        "url": "/portfolio.html",
        "page_type": "portfolio"
    },
    {
        "title": "Контакты",
        "url": "/contacts.html",
        "page_type": "contacts"
    }
] %}



{% macro nav_item(
    title,
    url,
    current_page,
    item_page,
    disabled,
    divider,
    dropdown,
    is_dropdown_item=false
) %}
    {% if divider %}
        <li>
            <hr class="dropdown-divider">
        </li>
    {% else %}
        <li class="{% if not is_dropdown_item %}nav_item{% endif %}{% if dropdown %} dropdown{% endif %}">
            {% set active = "active" if current_page == item_page else "text-muted" %}

            {% if dropdown %}
                <a class="{{ active }} nav-link dropdown-toggle" href="{{ url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% else %}
                <a class="{{ active }} {% if is_dropdown_item %}dropdown-item{% else %}nav-link{% endif %}" href="{{ url }}">
            {% endif %}
                {{ title }}
            </a>

            {% if dropdown %}
                <ul class="dropdown-menu">
                    {% for item in dropdown %}
                        {{ nav_item(item.title, item.url, item.disabled, item.divider, item.dropdown, true) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}