{% set welcome = '<span class="njk">Nunjucks</span> is available!' | safe %}


{% set navbar = [
    {
        "title": "Домой",
        "url": "/",
        "page_type": "home"
    },
    {
        "title": "Обо мне",
        "url": "/about.html",
        "page_type": "about"
    },
    {
        "title": "Проекты",
        "page_type": "projects",
        "dropdown": [
            {
                "title": "Sea Battle Helper",
                "url": "/projects/sea-battle-helper.html",
                "page_type": "sea-battle-helper"
            },
            {
                "divider": true
            },
            {
                "title": "F School Bot",
                "url": "/projects/f-school-bot.html",
                "page_type": "f-school-bot"
            }
        ]
    },
    {
        "title": "Контакты",
        "url": "/contacts.html",
        "page_type": "contacts"
    }
] %}



{% macro nav_item(title, url, page_type, disabled, divider, dropdown, is_dropdown_item=false) %}
    {% if divider %}
        <li>
            <hr class="dropdown-divider">
        </li>
    {% else %}
        <li class="{% if not is_dropdown_item %}nav_item{% endif %}{% if dropdown %} dropdown{% endif %}">
            {% set active = " active" if page_type == current_page_type else "" %}

            {% if dropdown %}
                <a class="text-muted nav-link dropdown-toggle" href="{{ url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% else %}
                <a class="text-muted {% if is_dropdown_item %}dropdown-item{% else %}nav-link{% endif %}{{ active }}" href="{{ url }}">
            {% endif %}

                {{ title }}
            </a>

            {% if dropdown %}
                <ul class="dropdown-menu">
                    {% for item in dropdown %}
                        {{ nav_item(item.title, item.url, item.page_type, item.disabled, item.divider, item.dropdown, true) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}