{% set test_img = {
    "vert": "https://cdn.create.vista.com/api/media/small/63364811/stock-photo-blue-classic-tabby-exotic-shorthair-with-raving-glasses",
    "hor": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyjGRqAvjG4sjKlO0Euw4TD4B1jKDZLDblJA&s",
    "norm": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYGdTOFn4cl0ClTJpL4IlF9H0of5gxbM14zg&s"
} %}



{% set contacts = [
    {
        "title": "FortenZz0",
        "url": "https://github.com/FortenZz0",
        "ico": "fa-brands fa-github"
    },
    {
        "title": "@F0rtenZz",
        "url": "https://t.me/F0rtenZz",
        "ico": "fa-brands fa-telegram"
    },
    {
        "title": "vanver20077@mail.ru",
        "url": "mailto:vanver20077@mail.ru",
        "ico": "fa-solid fa-envelope"
    }
] %}



{% set navbar = [
    {
        "title": "Главная",
        "url": "/",
        "page_type": "home"
    },
    {
        "title": "Обо мне",
        "url": "/about/",
        "page_type": "about"
    },
    {
        "title": "Портфолио",
        "url": "/portfolio/",
        "page_type": "portfolio"
    },
    {
        "title": "Контакты",
        "url": "/contacts/",
        "page_type": "contacts"
    }
] %}


{% set tech_settings = {
    "py": {
        "title": "Python",
        "color": "#00A8FF",
        "bg_color": "#032f39"
    },
    "html": {
        "title": "HTML",
        "color": "#FF9C46",
        "bg_color": "#3D2C04"
    },
    "njk": {
        "title": "Nunjucks",
        "color": "#6DAC8E",
        "bg_color": "#08331f"
    },
    "vite": {
        "title": "Vite",
        "color": "#ffc107",
        "bg_color": "#3d2e01"
    },
    "sql": {
        "title": "SQL",
        "color": "#FF9907",
        "bg_color": "#3F2B0B"
    },
    "flask": {
        "title": "Flask",
        "color": "#D2D2D2",
        "bg_color": "#3b3b3b"
    },
    "wp": {
        "title": "WordPress",
        "color": "#6D9FE9",
        "bg_color": "#212c3b"
    },
    "bt": {
        "title": "Bitrix",
        "color": "#DF4C2F",
        "bg_color": "#412424"
    },
    "unity": {
        "title": "Unity",
        "color": "#fff",
        "bg_color": "#333"
    }
} %}


{% set projects = [
    {
        "title": "F School Bot",
        "sub_title": "TG Bot",
        "tags": ["py", "sql"],
        "img": "/img/f-school-bot.jpg",
        "url": "/portfolio/f-school-bot/"
    },
    {
        "title": "Sea Battle Helper",
        "sub_title": "CLI",
        "tags": ["py"],
        "img": "/img/sea-battle-helper.png",
        "url": "/portfolio/sea-battle-helper/"
    }
] %}



{% macro nav_item(
    title,
    url,
    current_page,
    item_page,
    disabled,
    divider,
    dropdown,
    is_dropdown_item=false
) %}
    {% if divider %}
        <li>
            <hr class="dropdown-divider">
        </li>
    {% else %}
        <li class="{% if not is_dropdown_item %}nav-item{% endif %}{% if dropdown %} dropdown{% endif %}">
            {% set active = "active" if current_page == item_page else "text-muted" %}

            {% if dropdown %}
                <a class="{{ active }} nav-link dropdown-toggle" href="{{ url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% else %}
                <a class="{{ active }} {% if is_dropdown_item %}dropdown-item{% else %}nav-link{% endif %}" href="{{ url }}">
            {% endif %}
                {{ title }}
            </a>

            {% if dropdown %}
                <ul class="dropdown-menu">
                    {% for item in dropdown %}
                        {{ nav_item(item.title, item.url, item.disabled, item.divider, item.dropdown, true) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}



{# Technology Tag #}
{% macro tech_tag(
    tech_name,
    rounded = 3
) %}
    {% set tech = tech_settings[tech_name] %}

    {% if tech %}
        <div class="tech-tag border rounded-{{ rounded }}" style="border-color: {{ tech.color }} !important; background-color: {{ tech.bg_color }}">
            <span class="circle rounded-circle" style="background-color: {{ tech.color }}"></span>

            <span class="text" style="color: {{ tech.color }}">
                {{ tech.title }}
            </span>
        </div>
    {% endif %}
{% endmacro %}



{% macro project_card(
    title,
    sub_title,
    thumb,
    url,
    tags = []
) %}
    <div class="project-card border rounded-4 bg-body-tertiary p-0 w-100">
        <a href="{{ url }}" class="w-100 h-100 text-decoration-none p-3">
            <div class="thumb img-zoom-container border rounded-3">
                <img src="{{ thumb }}" alt="" srcset="">
            </div>

            <div class="title">
                <span class="title text-white h3 m-0">
                    {{ title }}
                </span>
                
                <span class="sub-title text-muted fs-5 m-0">
                    {{ sub_title }}
                </span>
            </div>
    
            <div class="tags hover-anim-container">
                {% for item in tags %}
                    {{ tech_tag(item) }}
                {% endfor %}
            </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right text-secondary"></i>
            </div>
        </a>
    </div>
{% endmacro %}



{% macro img_card(
    img,
    title,
    sub_title,
    my_class = "",
    zoom_img = false,
    zoom_img_class = ""
) %}
    <div class="img-card bg-body-tertiary border rounded-4 p-4 pb-3 {{ my_class }}">
        <div class="{% if zoom_img %}img-zoom-container {% else %}overflow-hidden {% endif %}rounded-3 mb-2">
            <img src="{{ img }}" alt="" class="{{ zoom_img_class }}">
        </div>

        <p class="text-white text-center h3 mb-1">
            {{ title }}
        </p>

        <p class="text-muted text-center fs-6 m-0">
            {{ sub_title }}
        </p>
    </div>
{% endmacro %}