@media (max-width: 992px)
    header  .navbar > .container-fluid
        border-bottom: none !important
        padding-bottom: 0 !important
        margin-bottom: 0 !important



@media (max-width: 402px)
    main.container
        padding: calc(var(--bs-gutter-x)* .5) !important


    footer .nav .nav-item > .nav-link
        padding: var(--bs-nav-link-padding-y) !important
        