[data-bs-theme=dark]
    --bs-body-color: #fff

    
// *
//     font-family: Arial, Helvetica, sans-serif


html, body
    text-align: center
    height: 100%


body
    display: flex
    flex-direction: column


main
    flex: 1 0 auto



.nav .nav-item>.active
    color: var(--bs-navbar-active-color)